<div class="container" ng-controller="AdsIndexController">

  <!-- navbar component -->
  <div>
    <acme-navbar></acme-navbar>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Your ads</div>
    <div class="panel-body">

      <p ng-if="user.signedIn">Hi, {{ user.email }}</p>
      <button class="btn btn-default" ng-click="signOut()" ng-if="user.signedIn">Sign out</button>
      <br>
      <div class="alert alert-warning" ng-if="!user.signedIn">Please, sign in for adding your advertisement</div>

      <div id="postlist" ng-repeat="ad in ads" ng-if="ad.user.id == user.id">
        <div class="panel">
          <div class="panel-heading">
            <div class="text-center">
              <div class="row">
                <div class="col-sm-9">
                  <h3 class="pull-left">{{ ad.title }}</h3>
                </div>
                <div class="col-sm-9">
                  <i class="pull-left" ng-repeat="category in ad.categories">{{category.name}}{{$last ? '' : ', '}}</i>
                </div>
                <div class="col-sm-3">
                  <h4 class="pull-right">
                    <small><em>Created At {{ ad.createdAt.slice(0,10) }}<br>{{ ad.createdAt.slice(11,16) }}</em></small>
                  </h4>
                  <br>
                  <br>
                  <br>
                  <p class="pull-right">
                    <a href="#/ads/{{ad.id}}/edit" class="btn btn-sm btn-default">Edit</a>
                    <a ng-click="delete_ad(ad.id)" ng-controller="AdsDeleteController" class="btn btn-sm btn-danger">Delete</a>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-body">
            {{ ad.body.slice(0,100) }}...
            <a href="#/ads/{{ad.id}}">Read more</a>
          </div>

        </div>
      </div>

    </div>
  </div>

</div>
