<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ng-href="#/ads">
        <span class="glyphicon glyphicon-home"></span> Ads Board
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav col-lg-3">
        <li><a href="#/ads/my_ads">My Ads</a></li>
        <li><a ng-href="#/ads/new" class="glyphicon glyphicon-plus"></a></li>
      </ul>

    </div>
  </div>
</nav>
